<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Ankiety</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Ankiety</h1>
    <table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Nazwa </th>
            <th> Id ankiety </th>
        </tr>
    </thead>
	    <tbody>
			<tr th:if="${ankiety.empty}">
	            <td colspan="2"> Brak ankiet</td>
	        </tr>
	        <tr th:each="a : ${ankiety}">
	            <td><span th:text="${a.id}"> Title </span></td>
	            <td><span th:text="${a.nazwa}"> Author </span></td>
	            <td><span th:text="${a.id_ankiety}"> Author </span></td>
	        </tr>
	    </tbody>
	</table>
	<h1>Dodaj/edytuj</h1>
    <form action="#" th:action="@{/ankiety}" th:object="${ankieta}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Tekst: <input type="text" th:field="*{nazwa}" /></p>
        <p>Id ankiety: <input type="text" th:field="*{id_ankiety}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>