<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Ankiety</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <div th:replace="header :: naglowek"></div>
</head>
<body>
    <div th:if="${error}">
		<h2 style="color:red" th:text="${error}"></h2>
	</div>
	<div th:if="!${ankiety.empty}">
		<h1>Ankiety</h1>
		<table border="0">
			<tbody>
				<tr th:if="${ankiety.empty}">
					<td colspan="2" style="color:green">Brak ankiet</td>
				</tr>
				<tr th:each="a : ${ankiety}">
					<td class="id_column" sec:authorize="hasRole('ROLE_ADMIN')">
						<span th:text="${a.id}"/>
					</td>
					<td class="text" sec:authorize="hasRole('ROLE_ADMIN')">
						<form action="#" th:action="@{/ankiety/zmien}" method="post" th:id="${a.id}">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="text" th:value="${a.nazwa}" name="nazwa">
						</form>
					</td>
					<td class="text" sec:authorize="hasRole('ROLE_USER')">
						<span th:text="${a.nazwa}"/>
					</td>
					<td class="button" sec:authorize="hasRole('ROLE_ADMIN')">
						<input type="submit" value="Zapisz" th:form="${a.id}"/>
					</td>
					<td class="button" sec:authorize="hasRole('ROLE_ADMIN')">
						<form action="#" th:action="@{/ankiety/usun}" method="post">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Usuń"/>
						</form>
					</td>
					<td class="button" sec:authorize="hasRole('ROLE_ADMIN')">
						<form action="#" th:action="@{/pytania}" method="get">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Edytuj"/>
						</form>
					</td>
					<td class="button">
						<form action="#" th:action="@{/quiz}" method="post">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Wypełnij ankiete"/>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<br/>
		<hr/>
		<p>Wpisz nazwe nowego pytania:</p>
		<form action="#" th:action="@{/ankiety/dodaj}" method="post" id="dodaj">
				<input type="text" value="" name="nazwa" style="width: 30%">
		</form>
		<input type="submit" value="Dodaj ankiete" form="dodaj" style="width: 30%"/>
	</div>
</body>
</html>