<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Ankiety</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <div th:replace="header :: naglowek"></div>
</head>
<body>
    <div th:if="${error}">
		<h2 style="color:red" th:text="${error}"></h2>
	</div>
	<div th:if="!${ankiety.empty}">
		<h1>Ankiety</h1>
		<table border="0">
			<tbody>
				<tr th:if="${ankiety.empty}">
					<td colspan="2" style="color:green">Brak ankiet</td>
				</tr>
				<tr th:each="a : ${ankiety}">
					<td><span th:text="${a.id}"/></td>
					<td><span th:text="${a.nazwa}"/></td>
					<td><span th:text="${a.id_ankiety}"/></td>
					<td>
						<form action="#" th:action="@{/ankiety/usun}" method="post">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Usuń"/>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{/edycja}" method="post">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Edytuj"/>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{/wypelnianie}" method="post">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Wypełnij"/>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${ankiety.empty}">
		<h1>Brak ankiet</h1>
	</div>


	<h1>Dodaj/edytuj</h1>
    <form action="#" th:action="@{/ankiety}" th:object="${ankietaForm}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
    	<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">ID Error</span>
        <p>Tekst: <input type="text" th:field="*{nazwa}" /></p>
        <span th:if="${#fields.hasErrors('nazwa')}" th:errors="*{nazwa}">ID Error</span>
        <p>Id ankiety: <input type="text" th:field="*{id_ankiety}" /></p>
        <span th:if="${#fields.hasErrors('id_ankiety')}" th:errors="*{id_ankiety}">ID Error</span>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>