<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<div th:fragment="naglowek"> 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<div style="vertical-align: middle;float: right;">
			<a th:href="@{/ankiety}">Ankiety</a>
			|
			<a th:href="@{/login}">Zaloguj</a>
			|
			<a th:href="@{/login?logout=true}">Wyloguj</a>
			|
			<a th:href="@{/registration}">Rejestracja</a>
			|
			<a th:href="@{/logowania}">Logowania</a>
	</div>
	</div>
</body>

</html>