<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Logowanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
  <body>
    <h1>Login page</h1>
    
    <form th:action="@{/logowanie}" method="post">
      <label for="username">Nazwa użytkownika</label>
      <input type="text" id="username" name="username" autofocus="autofocus" /> <span th:if="${loginError != null}" class="error" style="color:red">[[${loginError}]]</span> <br />
      <input type="submit" value="Zaloguj" />      
    </form>
  </body>
</html>