<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Pytania</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <div th:replace="header :: naglowek"></div>
</head>
<body>
    <div th:if="${error}">
		<h2 style="color:red" th:text="${error}"></h2>
	</div>
	<div th:if="!${ankiety.empty}">
		<h1>Pytania do ankiety: [[${nazwa}]]</h1>
		<table border="0">
			<tbody>
				<tr th:if="${ankiety.empty}">
					<td colspan="2" style="color:green">Brak ankiet</td>
				</tr>
				<tr th:each="a : ${ankiety}">
					<td class="id_column"><span th:text="${a.id}"/></td>
					<td class="text">
						<form action="#" th:action="@{/pytania/zmien}" method="post" th:id="${a.id}">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="hidden" th:value="${id}" name="ankieta_id">
							<input type="text" th:value="${a.nazwa}" name="nazwa" >
						</form>
					</td>
					<td class="button">
						<input type="submit" value="Zapisz" th:form="${a.id}"/>
					</td>
					<td class="button">
						<form action="#" th:action="@{/pytania/usun}" method="post">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="hidden" th:value="${id}" name="ankieta_id">
							<input type="submit" value="Usuń"/>
						</form>
					</td>
					<td class="button">
						<form action="#" th:action="@{/odpowiedzi}" method="get">
							<input type="hidden" th:value="${a.id}" name="id">
							<input type="submit" value="Edytuj"/>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
		<br/>
		<hr/>
		<p>Wpisz nazwe nowego pytania:</p>
		<form action="#" th:action="@{/pytania/dodaj}" method="post" id="dodaj">
				<input type="text" value="" name="nazwa" style="width: 30%">
				<input type="hidden" th:value="${id}" name="id">
		</form>
		<input type="submit" value="Dodaj pytanie" form="dodaj" style="width: 30%"/>
</body>
</html>