<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>Rejestracja</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <div th:replace="header :: naglowek"></div>
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <br />
      <div th:if="${error}">
        [[${error}]]
      </div>
      <br />
      <form th:action="@{/registration}" method="post" id="registration">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <select name="role" class="fadeIn third">
          <option value="ROLE_USER">ROLE_USER</option>
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        </select>
        <input type="submit" class="fadeIn fourth" value="Create">
      </form>
    </div>
  </div>
</body>

</html>